<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Decorative</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="/static/style/style.css" type="text/css" />
</head>

<body>

  <%- include("menu.ejs")%>

    <a href="/addProduct">Add Products</a>
    <h3>Our Products</h3>
    <% products.forEach( product=> { %>
      <div class="productCard">
        <div>
          <%= product.name %>
        </div>
        <div class="productImage">
          <img src="data:image/<%=product.img.contentType%>;base64,<%=product.img.data.toString('base64')%>" />
        </div>
        <div>
          <%= product.price %>
        </div>
        <div>
          <form action="/addToCart" method="post">
            <input type="text" name="name" id="" value="<%= product.name %>" hidden>
            <input type="number" name="quantity" id="" value="1" min="1">
            <input type="text" name="productId" id="" value="<%= product._id %>" hidden>
            <input type="number" name="price" id="" value="<%= product.price %>" hidden>
            <button type="submit"><i class="fas fa-shopping-cart"></i></button>
          </form>

          <div><i class="far fa-heart"></i></div>
        </div>

        <button value="<%= product._id %>" onclick="showDescription(this.value)">
          Läs mer
        </button>

        <div class="productDescription" id="<%= product._id %>">
          <%= product.description %>
        </div>
        <% }) %>


</body>

</html>
<script>
  function showDescription(product) {
    let productDescription = document.getElementById(product);

    if (productDescription.classList.contains("show")) {
      productDescription.classList.remove("show");
    } else {
      productDescription.classList.add("show");
    }
  }
</script>