<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/style/style.css" type="text/css" />
  </head>

  <body>
    <%- include("menu.ejs")%>

    <section class="adminContainer">
      <p class="loggedUser">Hi! You are logged in as: <%=user.name%></p>

      <h2 class="adminListHeading">Admin Productlist</h2>
      <ul class="adminProductList">
        <%- include("message.ejs")%> <% products.forEach( product=> { %> <% if
        (product._id==idProduct) { %>
<li class="adminProductListItem">
        <form
          action="/addProduct/edit/<%= product._id %>"
          class="productAdminForm"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="inputSection">
            <input
              class="productAdminInput"
              type="text"
              name="name"
              placeholder="name"
              id=""
              required
              minlength="1"
              maxlength="35"
              value="<%= product.name %>"
            />
            <input
              class="productAdminInput"
              type="text"
              name="description"
              placeholder="description"
              id=""
              required
              minlength="1"
              maxlength="35"
              value="<%= product.description %>"
            />
            <input
              class="productAdminInput"
              type="number"
              name="price"
              placeholder="price"
              id=""
              required
              minlength="1"
              value="<%= product.price %>"
            />
            <input
              class="productAdminInput"
              type="file"
              name="image"
              required
            />
          </div>
          <button class="check" type="submit">
            <span class="fas fa-check-square fa-lg"></span>
          </button>
          <a href="/addProduct" class="regret"
            ><span class="fas fa-window-close fa-lg"></span
          ></a>
        </form>
      </li>
        <% } else { %>
        <li class="adminProductListItem">
          <div class="productAdminName"><%= product.name %></div>
          <div class="productAdminDescription"><%= product.description %></div>
          <div class="productAdminPrice"><%= product.price %></div>
          <div class="productAdminImage">
            <img
              src="data:image/<%=product.img.contentType%>;base64,<%=product.img.data.toString('base64')%>"
              alt="Could not upload image"
              height="200px"
              width="200px"
            />
          </div>
          <div class="editDeleteSection">
            <a href="/addProduct/edit/<%= product._id %>" class="edit"
              ><span class="fas fa-edit"></span
            ></a>
            <a href="/addProduct/remove/<%= product._id %>" class="remove">
              <span class="fas fa-trash"></span>
            </a>
          </div>
        </li>
        <% } %> <% }) %>
      </ul>
    </section>
    <%- include("footer.ejs")%>
  </body>
</html>
