<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Decorative</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="/static/style/style.css" type="text/css" />
</head>

<body>
  <%- include("menu.ejs")%>
  <section class="productPageContainer">

   

<div class="productLinkContainer">
        <a class="productpageLink" href="/addProduct">Add Products</a>
      </div>
        <h3 class="productHeading">Our Products</h3>
        <%- include("./sortProducts.ejs") %>

        <%- include("message.ejs")%>

        <ul class="productPageList">
        <% products.forEach( product=> { %>
          <li class="productPageListItem">
          <div class="productCard">
            <div class="productPageName">
              <%= product.name %>
            </div>
            <div class="productPageImage">
              <img src="data:image/<%=product.img.contentType%>;base64,<%=product.img.data.toString('base64')%>"
                alt="Could not upload image" height="200px" width="200px" />
            </div>

            
<div class="priceHeartSection">
            <div class="productPagePrice">
              <%= product.price + "kr" %>
            </div>
            <div class="heartSection">
              <a class="productHeartBtn" href="/wishlist/<%= product._id %>"><i class="far fa-heart"></i></a>
            </div>
          </div>
          <div class="readMoreBtnSection">
            <button class="readMoreBtn" value="<%= product._id %>" onclick="showDescription(this.value)">
              Läs mer
            </button>
          </div>
            
            <div class="productPageDescription" id="<%= product._id %>">
              <%= product.description %>
            </div>
            <div>
              <form action="/addToCart" method="post" class="productPageForm">
                <input class="productPageInput" type="text" name="name" id="" value="<%= product.name %>" hidden>
                <input class="productPageInput" type="number" name="quantity" id="" value="1" min="1">
                <input class="productPageInput" type="text" name="productId" id="" value="<%= product._id %>" hidden>
                <input class="productPageInput" type="number" name="price" id="" value="<%= product.price %>" hidden>
                <button class="productCartBtn" type="submit"><i class="fas fa-shopping-cart"></i></button>
                
              </form>

              
            </div>
          </li>
            <%})%>
              
            </ul>
            <%-include("pagination.ejs") %>
            </section>
              <%- include("footer.ejs")%>
</body>

</html>
<script>
  function showDescription(product) {
    let productPageDescription = document.getElementById(product);

    if (productPageDescription.classList.contains("show")) {
      productPageDescription.classList.remove("show");
    } else {
      productPageDescription.classList.add("show");
    }
  }
</script>